extends layout

block content
    .row.py-3
    
       
        h1.pl-3.ca-header-font= pageHeader.title
        
        p.lead.pl-4.pt-2.ca-header-font= pageHeader.tagline
        
        p.lead.pl-4.pt-5.ca-header-font= pageHeader.sidebar
        
    

    
    img(src="/images/norvo.jpg")
    
    
    body

   
